*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

aside{
    float: left;
    height: calc(100vh - 70px);
    width: 200px;
    background-color: black;
}

header{
    position: fixed;
    right: 0;
    height: 70px;
    width: calc(100% - 200px);
    background-color: rgba(3.1, 4.3, 7.1, 0.3);
}

main{
    float: right;
    height: calc(100vh - 70px);
    width: calc(100% - 200px);
    overflow: auto;
    background-color: #141922;
    color: white;
}

footer{
    height: 70px;
    background-color: #282828;
}

.upgrade-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px;
}

.upgrade-button button{
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    background-color: #080b12;
    border: 1px solid white;
    
}


